[MAIN]
jobs=8
suggestion-mode=yes
py-version=3.10
limit-inference-results=50

[SIMILARITIES]
min-similarity-lines=4
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=yes
ignore-signatures=yes

[VARIABLES]
init-import=yes
allow-global-unused-variables=yes

[FORMAT]
max-line-length=100
ignore-long-lines=^\s*(# )?<?https?://\S+>?$
single-line-if-stmt=no
single-line-class-stmt=no
max-module-lines=1000
indent-string='\t'

[BASIC]
good-names=i,j,k,x,y,_,qrcode
include-naming-hint=no
variable-naming-style=snake_case
function-naming-style=snake_case
function-rgx=[a-z_][a-z0-9_]{2,30}$
const-naming-style=UPPER_CASE
const-rgx=(([A-Z_][A-Z0-9_]*)|(__.*__))$
attr-rgx=[a-z_][a-z0-9_]{2,}$
argument-naming-style=snake_case
argument-rgx=[a-z_][a-z0-9_]{2,}$
class-attribute-naming-style=snake_case
class-naming-style=PascalCase
class-const-naming-style=PascalCase
class-rgx=[A-Z_][a-zA-Z0-9]+$
module-naming-style=snake_case
module-rgx=(([a-z_][a-z0-9_]*)|([A-Z][a-zA-Z0-9]+))$
method-naming-style=snake_case
method-rgx=[a-z_][a-z0-9_]{2,}$
no-docstring-rgx=__.*__
docstring-min-length=-1

[TYPECHECK]
ignore-none=yes
missing-member-hint=yes
missing-member-hint-distance=1
missing-member-max-choices=1

[SPELLING]
spelling-dict=en_US
spelling-ignore-words=Args,qrcode,bool,csrf,izly,argparse,Robotechnic,py,FileType

[DESIGN]
max-args=10
max-locals=15
max-returns=10
max-branches=10
max-statements=50
max-attributes=10
min-public-methods=2
max-bool-expr=5

[CLASSES]
defining-attr-methods=__init__,__new__,__post_init__
valid-classmethod-first-arg=self
valid-metaclass-classmethod-first-arg=mcs
check-protected-access-in-special-methods=yes

[IMPORTS]
allow-any-import-level=no
allow-wildcard-with-all=no
known-third-party=enchant

[EXCEPTIONS]
overgeneral-exceptions=Exception


[REFACTORING]
max-nested-blocks=5
never-returning-functions=sys.exit,argparse.parse_error

[STRING]
check-quote-consistency=yes
check-str-concat-over-line-jumps=yes